# Check Point Management
MGMT_URL=https://MGMT-IP
API_USER=api-user
API_PASSWORD=SuperSecretPassword

# Filtro base (query language SmartConsole)
LOG_FILTER=service:https

# Filtri di default (opzionali)
SRC_FILTER=
DST_FILTER=

# Time frame di default
TIME_FRAME=last-24-hours
CUSTOM_START=
CUSTOM_END=

# Output
OUTPUT_CSV=export_logs.csv

# Paginazione
MAX_PER_REQUEST=100
MAX_PAGES=10

# Debug / SSL
DEBUG=false
VERIFY_SSL=false
